@tailwind components;

@layer components{
       .registerContainer {
         @apply p-10 flex flex-col 
         font-manrope gap-5 overflow-hidden text-white bg-[#001529d9] 
       }
       
       .registerContainer h2{
         @apply text-[1.5rem] font-semibold 
       }
   
       .registerContainer form {
         @apply flex flex-col w-[500px] overflow-y-auto gap-5 ;
       }
       
   
       .registerContainer form input{
         @apply bg-[#03030341]  p-3 rounded-[5px] outline-0  
       }
   
       
       .registerContainer form select{
         @apply bg-[#03030341] border-0 text-[#ffffff90] p-3 rounded-[5px] outline-0  
       }
   
       .registerContainer form select option{
         background-color: #050505dd !important;
       }

       
        .registerContainer form .btnRegister{
            background: linear-gradient(93deg, #298BD9 0%, #33C0E4 100%);
            @apply w-full p-3 rounded-[10px] text-white font-medium
         }

         
        .registerContainer form .disabled{
            background: linear-gradient(93deg, #298BD9 0%, #33C0E4 100%);
            @apply w-full p-3 rounded-[10px] text-white font-medium opacity-25
         }

}


.registerContainer form::-webkit-scrollbar {
    width: 5px; /* Width of the scrollbar */

  }
  
  .registerContainer form::-webkit-scrollbar-track {
    background: #1d1e1f; /* Color of the track */
  }
  
  .registerContainer form::-webkit-scrollbar-thumb {
    background: #4165da; /* Color of the thumb */
    border-radius: 10px; /* Rounded corners of the thumb */
  }
  
  .registerContainer form::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color of the thumb on hover */
  }
  

